#body {
    /*display: none;*/
}

#body > #content  .tt {
    /*font-weight: bold;*/
    color: #0077ff;
    /*position: relative;*/
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

}

.tt > .tt-text {
    display: none;

    padding: .5em;

    background: #ffffff;
    border: thin solid #001d67;

    /*height:5rem;*/
    max-height: 10rem;

    overflow: hidden;
    white-space: nowrap;
    /*word-break: break-word;*/
    text-overflow: ellipsis;

    width: 300px;
    /*margin-left: -150px;*/
    margin-top: 0rem;

    position: absolute;
    z-index: 1;
    /*top: 100%;*/
    top: 100%;
    left: 50%;
    transform: translateX(-70%);
    /*right: 150%;*/
}

.tt-left {
    /*left: -100%*/
}

.tt-right {
    /*left: 170%*/
}

.tt:hover {
    background: orange;
}

.tt:hover > .tt-text {
    display: inline-block;
}



/*.tt > .tt-text > b {*/
/*    font-size: 2rem;*/
/*    margin-bottom: .67em;*/
/*    display: block;*/
/*    background: gray;*/
/*}*/

/*#body > #content .body {*/
/*    margin-inline: auto;*/
/*    width: 600px;*/
/*}*/