/*
    IMPORTANT: When updating this file, remember to run it through https://autoprefixer.github.io/ and
    paste the result into the resources/css/encycl-styles.css in order to ensure the css getting served supports
    every browser
*/


:root {
    background: rgba(0, 29, 103, 0.4);

    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 16px;
    hyphens: auto;
    --sidebar-width: 10em;
    --body-min-width: 600px;
    --body-max-width: 1600px;   /*REMEMBER TO CHANGE THE CORRESPONDING MEDIA QUERY*/
}

/*br {*/
/*    !*margin-top: 100rem;*!*/
/*    display: inline-block;*/
/*    height: 1px;*/
/*    margin-inline: auto;*/

/*}*/
/*br::after{*/
/*    content: "'";*/
/*}*/


/*:root h1 {*/
/*    font-size: 2.5em;*/
/*}*/

/*:root h2 {*/
/*    font-size: 1.75em;*/
/*}*/

/*:root h3 {*/
/*    font-size: 1.25rem;*/
/*}*/

/*** BODY/CONTENT STYLING ***/

#body {
    /*display: none;*/

    /* TODO: add vars for Magic Numbers*/
    width: calc(var(--body-max-width) - 2 * var(--sidebar-width) - 12rem);

    /*font-size: 32px;*/

    background: rgb(255, 255, 255);
    border: thin solid #006730;
    padding: 1rem;
    /*padding-top: ;*/

    position: relative;

    flex-shrink: 0;
    /*line-height: 1.5rem;*/

    /*word-break: break-word;*/
    /*hyphens: auto;*/
}



#body > #attributions {
    padding: 1rem;

    padding-left: 0;
    font-style: italic;
    opacity: 75%;
    border-bottom: 2px solid #212c64;
}

#body > #title {
    display: flex;
    gap: 1rem;
    /* TODO: Lower the margins this way could be a fairly hacky solution */
    /*margin-bottom: .5rem;*/

    /*Needed to make the dropdown menu appear below the button*/
    position: relative;
    align-items: center;

    border-bottom: 2px solid #212c64;
}

#body > #title > h1 {
    margin: 0;
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 100%;
    /*font-size: 2.5em;*/
}

#body > #content > h2{
    margin: 0;
    margin-bottom: 1rem;
    margin-top: .5rem;

    width: 100%;
    border-bottom: 2px solid rgba(33, 44, 100, 0.3);
}

#body > #content > h3 {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: .5rem;
    width: 100%;
}

#body > #content > p {
    /*overflow: auto;*/
    /*display: none;*/
}


#body > #content > ul{
    /*Needed to make sure the list indents with a floating image near it*/
    overflow: auto;

    /*display: none;*/
    /*padding-left: 5rem;*/
}

/* Figure Alignments */

#body > #content > figure {
    /*overflow-wrap: normal;*/
    /*overflow: hidden;*/
    display: table;

    width: fit-content;
    max-width: var(--body-min-width);
    height: fit-content;
    /*max-height: 600px;*/

    padding: 4px;
    background: #f6f6f6;
    border: 1px solid gray;
    /*border-bottom: none;*/
}

#body > #content > figure > ul {
    padding-right: 40px;
}

#body > #content > figure > p {
    margin: 1em;
}

#body > #content > figure > img {
    /*display: table;*/
    /*text-align: center;*/

    max-width: calc(var(--body-min-width) - 2em - 8px);
    /*max-height: 600px;*/

    /*display: inline-block;*/
    /*REMOVES empty spaces below an image*/
    vertical-align:text-bottom;

    padding: .5em;
    border: 1px solid gray;
    background: white;
}

#body > #content > figure > figcaption {
    display: table-caption;
    caption-side: bottom;


    background: #f6f6f6;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    /*Hacky solution to avoid disabling the */
    margin-top: -2px;
    padding: .25em;
    text-align: center;
    /*width: 100%;*/
    /*width: 100px;*/
}

#body > #content > figure > table,th,td {
    width: 100%;
    padding: .5em;
    border: 1px solid;
    border-collapse: collapse;
}

#body > #content > .fig-right {
    /*display: inline-block;*/

    margin: 0;
    margin-left: 1em;
    margin-bottom: .25em;
    margin-top: .25em;

    float: right;
}


#body > #content > .fig-left {
    /*display: inline-block;*/


    margin: 0;
    margin-right: 1em;
    margin-bottom: .25em;
    margin-top: .25em;

    float: left;
}

#body > #content > .fig-center {
    /*display: block;*/

    margin: 0;
    margin-bottom: .25em;
    margin-top: .25em;

    margin-inline: auto;
}

/* MISC CONTAINERS */
.wrapper {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: clamp(var(--body-min-width) + 2rem, 95svw ,1600px);

    margin-inline: auto;
    height: calc(100%);

    background: rgb(255, 255, 255);
    /*border: thin solid #a40ed6;*/

}

main {
    display: flex;
    flex: 1;
    gap: 1rem;

    align-content: center;
    justify-content: center;

    background: rgb(255, 255, 255);
    border: thin solid #0077ff;

    padding: 1rem;
}



/********************** Navbars **********************/

#top-navbar {
    display: flex;
    gap: 1rem;

    align-content: center;
    align-items: center;
    justify-content: center;

    background: rgb(255, 255, 255);
    /*border: thin solid #0077ff;*/

    box-shadow: 0px 5px 5px rgba(0, 29, 103, 0.43);

    padding: 1rem;
}

#top-navbar a:nth-child(2){
    margin-right: auto;
}

#top-navbar a {
    color: inherit;
    display: inline-block;
    text-align: center;
}


.side-navbar-placeholder {

    width: calc(var(--sidebar-width));
    height: 400px;
    background: #006730;
    visibility: hidden;

    margin: 0;
    padding: 0;

    flex-shrink: 1;
}

.side-navbar {
    width: var(--sidebar-width);
    position: sticky;
    height: fit-content;
    max-height: 400px;

    top: 1em;
    /*TODO FINISH THIS MARGIN (make header sizes a variable)*/
    /*This margin is to make the sidebar align with the title positioning*/
    margin-top: 3.5em;

    flex-shrink: 0;

    background: rgb(255, 255, 255);
    /*border: thin solid #a40ed6;*/
    /*padding: 1rem;*/
    padding-left: 0rem;
}

/*Changing the "contents" above the side-navbar*/
.side-navbar > h3 {
    margin: 0;
    margin-bottom: .5rem;
    margin-top: 0rem;

    padding-bottom: .5rem;

    width: 100%;
    border-bottom: 1px solid rgba(33, 44, 100, 0.3);
}

/*this applies only to nested <ul>*/
.side-navbar > ul > ul {
    padding-left: 1rem;
}

/*this applies to ALL <ul> inside*/
.side-navbar  ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    /*padding-left: 1em;*/
}

.side-navbar > ul > * {
    /*background: #0077ff;*/
    word-break: break-word;
    overflow-wrap: normal;
    overflow: hidden;
    /*background: rgba(255, 165, 0, 0.34);*/
}

.side-navbar li{
    margin-bottom: .25em;
    /*background: red;*/
}

.side-navbar li::marker {
    content: "> ";
}

/*TODO not working*/
.side-navbar > ul > li:visited {
    color: #006730;
}

.side-navbar > ul > li:link {
    color: #006730;
}

.side-navbar > ul > *:hover {
    background: rgba(255, 165, 0, 0.71);
}

/*USED ONLY in conjunction with the normal side-navbar styles, thus inheriting them*/
.side-navbar-dropdown {
    margin-top: 1.85em;
    padding: 1em;

    background: #ffffff;

    /*hidden until its hovered*/
    display: none;
    position: absolute;

    height: fit-content;
    /*Makes it appear above other elements*/
    z-index: 1;
    border: 1px solid grey;
}

.side-navbar-dropdown-button {
    display: none;
    /*position: fixed;*/
    z-index: 1;
    /*TO MAKE IT STICKY I WILL NEED TO CREATE YET ANOTHER ELEMENT that pops into existence when we scroll*/
    /*position: sticky;*/
    /*top: 1rem;*/
    background: white;
    /*border: 1px solid black;*/

    height: 2em;
    width: 2em;
}

/*Makes the sidenav dropdown button sticky*/
.sidenav-dd-button-sticky {
    top: 1em;
    /*left: 1em;*/
    /*margin-top: -15rem;*/
    position: fixed;
    padding: .25em;
    border: 1px solid black;
}

/*Makes the sidenav dropdown sticky*/
.sidenav-dd-sticky {
    top: calc(1.7em - 1px);
    /*margin-top: -15rem;*/
    position: fixed;
    padding: 1em;
    border: 1px solid black;
}

.side-navbar-dropdown-button:hover {
    background: darkorange;
}

.side-navbar-dropdown-button:hover ~ .side-navbar-dropdown {
    display: block;
}

.side-navbar-dropdown:hover {
    display: block;
}


/*MEDIA QUERIES */

@media (max-width: calc(1800px)) {
    .side-navbar-placeholder {
        /*width: clamp(0rem, 5svw, 10rem);*/
        padding: 0;
        margin: 0;
    }
}

/*Window Resizing Changes*/
/*!!!!!!!!!!!!!!NOTE: When changing body-max-width, this number has to be manually changed (limitation of vanilla CSS)*/
@media (max-width: calc(1600px - 11rem)) {
    .side-navbar{
        display: none;
    }
    .side-navbar-placeholder {
        display: none;
    }
    #body {
        width: clamp(var(--body-min-width), 95svw, calc(var(--body-max-width) - 1 * var(--sidebar-width) - 12rem));
        flex-shrink: 1;
    }
    .side-navbar-dropdown-button {
        display: block;
    }
}

/*MOBILE DEVICE STYLING*/
@media only screen and (max-device-width: 640px) {
    /* Styles */
    #body {
        font-size: 30px;
    }

    #body ul {
        font-size: 30px;
    }

    #body > #content > figure {
        /*background: #006730;*/
    }

    /*    NEED TO MAKE ALL IMAGES CENTER IF THIS IS THE CASE*/
    #body > #content > .fig-left {
        /*background: #ff0000;*/
        /*Remove the alignment*/
        float: none;

        /*COPIED FROM .fig-center*/
        /*display: block;*/

        margin: 0;
        margin-bottom: .25em;
        margin-top: .25em;

        margin-inline: auto;
    }

    #body > #content > .fig-right {
        /*background: #ff0000;*/
        /*Remove the alignment*/
        float: none;

        /*COPIED FROM .fig-center*/
        /*display: block;*/

        margin: 0;
        margin-bottom: .25em;
        margin-top: .25em;

        margin-inline: auto;
    }
}

/*SEARCH BAR STYLES */

#search-bar {
    border: none;
}


#search-bar > .gsc-control-cse {
    padding: 0px;
    border: none;
}

#search-bar > .gsc-control-cse {
    /* INTENTIONALLY UGLY FOR DEBUGGING */
    /*font-family: "Bauhaus 93";*/

    width: 300px;

    /* search box */
    .gsc-search-box {
        background: #ffffff;
        border: none;
        margin: 0;
    }

    .gsc-search-box ::placeholder {

    }

    /* search box input*/
    .gsc-input {
        /*display: none;*/
        border: none;
        padding: 0;
    }

    .gsc-input-box {
        border: none;
    }
    /* ads */
    .gsc-adBlock {
        display: none;
    }
    /* search button */
    .gsc-search-button {
        background: rgb(0, 0, 0);
        margin: 0;
        padding-right: 12px;
    }
}

/*#search-bar > .gsc-control-cse {*/
/*    padding: 0px;*/
/*    !*border: none;*!*/
/*    width: 300px;*/
/*}*/

/*#search-bar > .gsc-control-cse {*/
/*    !* search box *!*/
/*    .gsc-search-box {*/
/*        background: #ffffff;*/
/*        margin: 0;*/
/*    }*/
/*    !* search box input*!*/
/*    .gsc-input {*/
/*        !*display: none;*!*/
/*    }*/
/*    !* ads *!*/
/*    .gsc-adBlock {*/
/*        display: none;*/
/*    }*/
/*    !* search button *!*/
/*    .gsc-search-button {*/
/*        background: rgb(0, 0, 0);*/
/*        margin: 0;*/
/*        padding-right: 12px;*/
/*    }*/
/*}*/






/* BACKUP flexboxes */

.v-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background: rgba(164, 14, 214, 0.24);
    /*border: thin solid #a40ed6;*/
    padding: 2rem;
}

.h-flex {
    display: flex;

    gap: 1rem;

    align-content: center;
    justify-content: center;

    background: rgb(255, 255, 255);
    /*border: thin solid #0077ff;*/

    padding: 2rem;
}