/*
    IMPORTANT: When updating this file, remember to run it through https://autoprefixer.github.io/ and
    paste the result into the resources/css/words.css in order to ensure the css getting served supports
    every browser
*/

.index-div {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;

}

.index-div h3 {
    display: block;
    width: 100%;
    /*border-bottom: 2px solid rgba(33, 44, 100, 0.3);*/
    /*width: auto;*/
    margin-top: 0;
    margin-bottom: 1em;
}

.index-list-div {
    /*justify-items: center;*/
    padding: 1em;
    /*height: 200px;*/
    /*max-height: 20em;*/
    /*border: 1px solid grey;*/
    /*border-top: 2px solid #001d67;*/

    column-fill: balance;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    /*column-width: 10svh;*/
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
}

.index-list-div li:first-child {
    /*hacky solution to align all the objects*/
    margin-top: -1em;
}

.index-list-div ul{
    padding: 0;
}

.index-list-div li::marker {
    /*display: none;*/
    content: "> ";
}

#body > #content  .tt {
    /*font-weight: bold;*/
    color: #0077ff;
    /*position: relative;*/
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

}

.word-div {
    /*display: none;*/
    margin-bottom: 1em;
    /*margin-top: 1em;*/
    display: inline-block;
}

.tt img,
.word-div img {
    float: left;
    padding-right: 1em;
    /*border: grey;*/
}

.tt img {
    max-width: 150px;
    max-height: 150px;
}
.tt span,
.word-div span {
    margin-top: .1em;
    margin-bottom: 0;
    display: block;
}

.tt b,
.word-div  b {
    /*width: auto;*/
    display: block;
    color: #001d67;
    font-size: 1.25em;
    margin-bottom: .1em;
}



.tt > .tt-text {
    display: none;

    padding: .5em;

    background: #ffffff;
    border: thin solid #001d67;

    /*min-height:1.5em;*/
    max-height: 14.75em;

    overflow:auto;
    /*white-space: nowrap;*/
    /*word-break: break-word;*/
    text-overflow: ellipsis;

    width: 25em;
    /*margin-left: -150px;*/
    margin-top: 0rem;

    position: absolute;
    z-index: 1;
    /*top: 100%;*/
    top: 100%;

    /*right: 150%;*/
}

.tt-center {
    left: 50%;
    transform: translateX(-50%);
}

.tt-left {
    left: 0;
    /*transform: translateX(-7%) !important;*/
    /*left: 92% !important;*/
}

.tt-right {
    right: 0;
    /*left: 170%*/
}

.tt:hover {
    background: orange;
}

.tt:hover > .tt-text {
    display: inline-block;
}

