<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    NOTE: The template title is commented out so that the pages that it is used in displaying can have their own title-->
<!--    <title>Encyclopedia Prototype V2</title>-->
    <link rel="stylesheet" type="text/css" href="/resources/css/encycl-styles.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/words.css">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>

    <!--Fills out the sidenav with links to the headings-->
    <script src="/resources/scripts/populate_sidenav.js"></script>
    <!--Handles making the dropdown button sticky on scroll-->
    <script src="/resources/scripts/responsiveness.js"></script>

</head>
<body id="top">
<div class="wrapper">
    <div id="top-navbar">
        <img src="/resources/content/img_5.png" alt="logo" height="34.5">
        <a>
            <script async src="https://cse.google.com/cse.js?cx=338eba572a9a54569">
            </script>
            <div class="gcse-search" id="search-bar"></div>
        </a>
        <a class="top-navbar-button" href="/">HOME</a>
    </div>

<!--    The article content is populated by Golang templating-->
    {{.Content}}

    <div class="h-flex">
        <div>Creators: </div>
        <div>Kirill Truntaev Inc.</div>
    </div>
</div>

</body>
</html>